<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>stuff</p>
  <%= count %>
  <form method="POST" action='/register'>
    <input type="text" class="form" name="name" placeholder="product name">
    <button>submit</button>
</form>
</body>
</html>